header {
    .container-header {
        display: grid;
        grid-auto-columns: 1fr;
        grid-template-columns: 0.45fr 1.5fr;
        grid-template-rows: 0.5fr;
        gap: 0px 0px; 
        grid-template-areas: 
        "logo nav-header";
        justify-items: center;

        @include portatil {
            grid-template-columns: 1fr;
            grid-template-rows: 0.1fr 1fr 0.3fr;
            grid-template-areas: 
            "logo"
            "nav-header"
            "nav__paginas";
        }
        .logo {
            @extend %shared-logo;
        }
        .nav-header {
            grid-area: nav-header;
            margin-top: 90px;
            .h1-paginas {
                @extend %shared-h1;
                margin-top: 0;
                margin-bottom: 7vh;
                @include portatil {
                    font-size: 4rem;
                }
                @include tablet {
                    margin-top: 0;
                    font-size: 50px !important;
                }
            }
            #nav__paginas {
                display: flex;
                justify-content: center;

                @include portatil {
                    grid-area: nav__paginas;
                    display: flex;
                    justify-content: center;
                    margin: 0;
                    padding: 0;
                }
                #ul-paginas {
                    margin-bottom: 10vh;
                    list-style-type: none;
                    display: flex;
                    @include tablet {
                        display: flex;
                        justify-content: center;
                        list-style-type: none;
                        padding: 0 !important;
                        flex-direction: column;
                    }
                    li {
                        @extend %shared-li;
                        a {
                            @extend %shared-a;
                        }
                    }
                }
            }
        }
    }
}