main {
    @extend %main;
    @include tablet {
        margin: 6vh !important;
        padding: 10px !important;
    }
    h2 {
        @extend %h2;
    }
    .texto {
        margin-left: 20;
        padding: 10px;
        line-height: 1.5;
        font-family: "Caveat", system-ui;
        font-size: x-large;
        font-weight: bold;
        color: $texto;
        text-justify: inter-word;
        @include tablet {
            font-size: 35px !important;
            -webkit-text-stroke: 0.5px white;
        }
    }
    .destacados {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        margin-top: 50px;
        img {
            @extend %shared-img;
            flex: 1 1 300px;
            max-width: 100%;
            height: auto;
        }
    }
}