@import "reset";
@import "variables-generales";
@import "queries";
@import "header-home";
@import "header-paginas";
@import "main-home";
@import "main-productos";
@import "main-informacion";
@import "main-especiales";
@import "main-contacto";
@import "footer";

.container {
    margin: auto;
    width: 90%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto 3fr auto;
    grid-template-areas: 
    "header"
    "main"
    "footer";

    @include tablet {
        max-width: 100%;
        height: auto;
    }
}